.selectors {
    width: 5rem;
    height: 7.5rem;
    object-fit: cover; /* Optional: This ensures the image scales proportionally and fits inside the defined width and height */
  }

  .list-group{
    width: 7rem;
  }

  .col-4{
    width: 7rem;
  }
  .titleCollection{
    /* Crown Sweatshirt */

    width: 424px;
    height: 56px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    /* identical to box height, or 117% */
    letter-spacing: -0.02em;

    /* black */
    color: #1D1D1D;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

  }
  .col-9{
    /* data */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 456px;
    height: 770px;
    left: 875px;
    top: 120px;


  }

  .talla{
  /* Ellipse 4 */

    box-sizing: border-box;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;


    /* white */
    background: #FFFFFF;
    /* black */
    border: 1px solid #1D1D1D;

  }